.card-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: Fade_In 0.5s ease;
}

.card-modal {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	color: white;
	background-size: 100%;
	background-repeat: repeat;
	text-align: center;
	border-radius: 25px;
	transition: 0.3s;
	opacity: 1;
	margin: 0 auto;
	animation: Slide_Up 0.5s ease;
}

.card-modal h2 {
	font-size: 42px;
	margin-bottom: 1rem;
}

.ReactModal__Overlay--before-close {
	animation: Fade_Out 0.5s ease;
}

.modal-in,
.close-btn {
	margin: 5px;
}

@keyframes Fade_In {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes Slide_Up {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
	0% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes Fade_Out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.library-grid{
	display: flex;
	justify-content: center;
}

.library-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	gap:20px 20px;
	height: 0px;
}

.library-list li {
	margin: 25px 25px 0px 25px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	width:30%;
}

#library-header {
	flex-grow: 1;
	overflow-y: auto;
}

.mini-card {
	border-radius: 18px;
	overflow: hidden;
}

.mini-card:hover {
	cursor: pointer;
	opacity: 0.3;
	transition: 0.3s;
}

.mini-cur-content-img {
	display: block;
}

.mini-card-title-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	margin-top: 5%;
}

.mini-card-title {
	font-size: 1.25rem;
	margin-top: 5.5px;
	color: #872ed0;
	width: 100%;
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgb(104 63 255);
  }
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 6px;
  }
  *::-webkit-scrollbar-track {
	background: transparent;
  }
  *::-webkit-scrollbar-thumb {
	background-color: rgb(104 63 255);
	border-radius: 20px;
	border: 3px solid transparent;
  }