.background-container {
	position: relative;
	line-height: 1.2;
}

/* TODO: CREATE MOBILE BREAKPOINTS BASED ON HEIGHT */
.content-img {
	width: 100%;
	height: 637px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	z-index: -1;
	border-radius: 33px 33px 0 0;
	line-height: 0;
	transition: 0.3s;
	position: relative;
}

.content-description {
	width: 100%;
    line-height: 1;
	height: 100%;
	background: #ededed;
	display: flex;
	flex-direction: column;
	z-index: 8;
}

/* TODO: ADD MARGIN BASED ON HEIGHT FOR BUTTON ALIGNMENT */
.card {
	transition: all 0.3s ease-in-out;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	height: 750px;
	flex-grow: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	line-height: 0;
	position: relative;
}

.card .watch-container {
	position: absolute;
}

.card p {
	margin: 10px;
	padding: 10px;
}

.card img {
	pointer-events: none;
}

.card h3 {
	margin-top: 32px;
	font-size: 32px;
	padding: 0 16px;
	pointer-events: none;
}

.card-content {
	position: relative;
}

.genre-card-info,
.star-card-info,
.rating-card-info {
	font-size: 1.2rem;
}

.release-date-card-info {
	font-size: 1rem;
}

.media-a-info::-webkit-scrollbar {
	width: 4px;
}
.media-a-info::-webkit-scrollbar-track {
	background: transparent;
}
.media-a-info::-webkit-scrollbar-thumb {
	background: #888;
}
.media-a-info::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.media-main {
	transition: all 0.3s ease-in-out;
	position: absolute;
	opacity: 1;
	box-shadow: 4px 4px 8px 0 #e22bff;
	border-radius: 33px;
	background-color: black;
	color: #00000080;
	will-change: transform;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	width: 450px;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 3;
}

.media-main:hover {
	box-shadow: 4px 4px 8px 4px #e22bff;
}

.moving.media-main {
	transition: none;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

.removed {
	display: none;
}

.front {
	z-index: 5 !important;
}

.back {
	z-index: 4 !important;
}

.content-description {
	width: 100%;
	position: absolute;
	top: 0;
	transition: 0.3s;
}
