.home {
	display: flex;
	flex: 1;
}

.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 29px;
	left: 25px;
	top: 23px;
}

.bm-burger-bars {
	background: transparent linear-gradient(180deg, #7503fa 0%, #f70bc1 100%) 0%
		0% no-repeat padding-box;
}

.bm-burger-bars-hover {
	background: transparent linear-gradient(180deg, #f70bc1 0%, #7503fa 100%) 0%
		0% no-repeat padding-box;
}

.bm-cross-button {
	height: 24px;
	width: 24px;
	visibility: hidden;
}

.bm-cross {
	background: #bdc3c7;
}

.bm-menu-wrap {
	position: fixed;
	height: 100%;
	z-index: 2 !important;
}

.bm-menu {
	background: #ededed;
	/* padding: 2.5em 1.5em 0; */
	font-size: 1.15em;
	overflow: hidden;
}

.bm-morph-shape {
	fill: #373a47;
}

.bm-item-list {
	color: #b8b7ad;
	padding: 0px;
	overflow: hidden;
}

.bm-item {
	display: inline-block;
}

.bm-overlay {
	background: #0e0e0e;
	z-index: 2 !important;
}

.info-title {
	max-height: 100%;
	overflow: hidden;
	font-family: 'Quicksand';
}

.content-overview-p3 {
	color: #ededed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.watch-header,
.create-party,
.discover,
.watch-content {
	justify-content: center;
	align-items: center;
	list-style-type: none;
	border-spacing: 50px;
	margin: 1rem;
	font-family: 'Quicksand';
	color: #00000080;
	flex-direction: row;
	border: 1px #683fff;
	transition: 0.2s;
	width: 55%;
	max-width: 175px;
	top: 416px;
	margin-top: 61px;
	left: 196px;
	height: 59px;
	background: #ffffff;
	box-shadow: 0.25px 0.2px 1px 1px #a535ff;
	border-radius: 32px;
	opacity: 1 !important;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	display: flex !important;
}

#discover-btn,
#watch-party,
#library,
#chatroom,
#invite,
#logout,
#preferences-btn,
#logout {
	justify-content: center;
	align-items: center;
	list-style-type: none;
	/* border-spacing: 50px; */
	margin-top: 3.4rem;
	font-family: 'Quicksand';
	color: #00000080;
	flex-direction: row;
	border-bottom: solid 1.7px #a435ff;
	/* border-top: solid 1.7px #a435ff; */
	transition: 0.2s;
	width: 100%;
	top: 416px;
	/* margin-top: 30px; */
	left: 196px;
	height: 59px;
	background: #ffffff;
	box-shadow: 0px 1px 1px 0.25px #d32dff;
	opacity: 1 !important;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	display: flex !important;
}

.side-bar {
	float: left;
	flex-direction: column;
	justify-content: center;
	font-family: 'Quicksand';
	max-width: 375px;
	min-width: 325px;
	text-align: center;
	margin: 0;
	background-color: #ededed;
}