.home {
	display: flex;
	flex: 1;
}

.right-container {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-family: 'Quicksand';
	flex-grow: 1;
	text-align: center;
	display: flex;
	margin: 0;
	padding: 0;
	background-color: #ededed;
}

