.watch-party-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    border-top: 2px white solid;
	border-bottom: 2px white solid;
}

.watch-party {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: scroll;
	overflow-x: auto;
}

.party-url {
	border: 2px white solid;
}