.watch-party-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    border-top: 2px white solid;
	border-bottom: 2px white solid;
}

.watch-party {
	display: flex;
	/* flex-direction: column; */
	width: 100%;
	flex-grow: 1;
	overflow: scroll;
	overflow-x: auto;
}

.watchparty-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 10vh;
}

.watchparty-list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 95vw;
	border: none !important;
}

.party-url {
	border: 2px white solid;
	cursor: pointer;
	border: 1px solid;
	line-height: 2;
	margin: 5 auto;
}

.party-url:hover {
	opacity: 0.7;
	color: rgba(226, 43, 255, 1);
}

.party-name,
.party-members,
.party-limit {
	line-height: 2;
}

.create-party-btn,
.join-party-btn {
	padding: 20px;
	width: 150px;
	max-width: 200px;
	min-width: 100px;
	/* background:white; */
	color: rgba(226, 43, 255, 1);
	margin: 10px;
	font-size: 1rem;
	align-items: center;
	justify-content: center;
	font-family: Quicksand;
}

.name-party-input,
.join-party-input {
	padding: 20px;
	width: 105.5px;
	/* min-width: 100px;
    max-width: 160px; */
	/* background:white; */
	color: rgba(226, 43, 255, 1);
	margin: 10px;
	font-size: 1rem;
	align-items: center;
	justify-content: center;
	font-family: Quicksand;
}

#watch-party-parties {
	width: 70%;
}

#watch-party-user-section {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: gray;
	box-shadow: 2px 0px 2px red;
}

.user-avatar {
	border-radius: 100%;
	overflow: hidden;
	width: 10rem;
	height: 10rem;
	/* margin: auto; */
}

#avatar-placeholder {
	width: 10rem;
	height: 10rem;
	background-color: red;
}

#watch-party-create {
	width: 0%;
	height: 90%;
	border-radius: 10% 0 0 10%;
	position: absolute;
	right: 0;
	background-color: #ededed;
	box-shadow: -2px 0px 2px red;
	/* animation: slide-in-from-right .9s; */
}

.open-new-party-modal {
	animation: slide-in-from-right .9s forwards;
}

@keyframes slide-in-from-right {
	0% {
		width: 0%;
	}

	100% {
		width: 60%;
	}
}
