.preferences-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: Fade_In 0.5s ease;
	opacity: 1;
	z-index: 3;
}

.preferences-modal {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: fit-content;
	color: black;
	font-family: 'Quicksand', sans-serif;
	align-items: center;
	background: radial-gradient(
		circle,
		rgba(89, 0, 148, 0.9) 33%,
		rgb(0, 0, 0) 100%
	);
	background-size:none;
	background-position-x: center;
	background-repeat: no-repeat;
	text-align: center;
	border-radius: 25px;
	opacity: 1;
	box-shadow: 2px 2px 10px 1px #a535ff;
	animation: Fade_In 0.5s ease;
	opacity: 1;
}

#bg-img {
	display: flex;
	justify-content: center;
	align-self: center;
	position: absolute;
	max-width: 50%;
	max-height:50%;
	opacity: 0.9;
}

/* .preferences-modal h2 {
	font-size: 42px;
	margin-bottom: 1rem;
} */

.preferences-container {
	height: 90%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.preferences-container h3 {
	font-size: 35px;
	color: white;
	margin: 20px 0px;
	z-index: 1;
}

.genres,
.streaming_services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-top: 1px solid white;
	padding: 1rem 0px;
	z-index: 1;
}

.preferences-btn {
	padding: 5px 10px 5px 10px;
	background: white;
	color: rgba(226, 43, 255, 1);
	margin: 5px;
	width: fit-content;
	font-size: 1.2em;
}

.preferences-btn:focus {
	background-color: rgba(226, 43, 255, 1);
	color: white;
}

.preferences-btn:hover{
	box-shadow: 2px 2px 4px 0 #e22bff;
	transition: 0.2s;
}

.save {
	width: 100%;
	border-top: 1px solid white;
	padding-top: 20px;
	z-index: 1;
}

#save-btn {
	padding: 10px;
	width: 25%;
	background: white;
	color: rgba(226, 43, 255, 1);
	margin: 10px;
}

.or {
	color: #ededed;
	font-family: Quicksand;
}

.ReactModal__Overlay--before-close {
	animation: Fade_Out 0.5s ease;
}

.modal-in,
.close-btn {
	margin: 5px;
}

@keyframes Fade_In {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes Slide_Up {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
	0% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes Fade_Out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
