@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html,
body {
	min-height: 100vh;
	overflow: hidden;
	margin: 0px;
}

#root,
.styleme {
	min-height: 100vh;
	background: black 0% 0% no-repeat padding-box;
	display: flex;
	flex-direction: column;
}

p {
	align-items: center;
	justify-content: center;
	margin-top: 21px;
	font-family: 'Quicksand';
}

.MuiPaper-root,
.MuiToolbar-root,
.MuiTypography-body2 {
	font-family: 'Quicksand' !important;
}

.MuiInputBase-root,
.MuiTable-root,
.MTablePaginationInner-root-14,
.MuiTypography-h6,
.MuiTableRow-root,
.MuiButtonBase-root {
	font-family: 'Quicksand' !important;
}

.MTableHeader-header-13 {
	z-index: 0 !important;
}