@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

html,
body {
  min-height: 100vh;
  overflow: hidden;
}

#root,
.styleme {
  min-height: 100vh;
  background: black 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ededed 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #683fff80;
  opacity: 1;
  height: 72px;
  position: relative;
  z-index: 3;
}

.title-txt {
  font-family: "Quicksand", sans-serif;
  color: #7503fa;
}

.text-logo {
  font-family: "Quicksand", sans-serif;
  background-color: purple;
  background-image: linear-gradient(
    105deg,
    #ff948d 0%,
    #fa9093 0%,
    #ee85a6 0%,
    #db74c5 0%,
    #bf5cf0 0%,
    #b755ff 0%,
    #c843ff 0%,
    #e22bff 0%,
    #683fff 100%,
    #e62aff 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 42px;
  font-weight: 300;
  height: 100%;
  text-align: center;
  z-index: 2;
}

.vertical-ctr {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.shadowed {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  margin-left: auto;
  text-shadow: 1px 1.5px 1.5px rgb(187, 180, 180);
  z-index: 1;
}

.bold {
  font-weight: 600;
}

.background-container {
  position: relative;
  line-height: 1;
}

#login-btn {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 7px;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.styled-btn {
  background: radial-gradient(
    circle,
    rgba(104, 63, 255, 1) 0%,
    rgba(226, 43, 255, 1) 100%
  );
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 24px;
  box-shadow: gray 1px 1px 2px;
  font-weight: 500;
  font-family: "Quicksand";
}

.right-container {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Quicksand;
  flex-grow: 1;
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ededed;
}

.side-bar {
  float: left;
  flex-direction: column;
  justify-content: center;
  font-family: Quicksand;
  max-width: 375px;
  min-width: 325px;
  text-align: center;
  margin: 0;
  background-color: #ededed;
}

#discover-btn,
#watch-party,
#library,
#chatroom,
#invite,
#logout,
#preferences, #logout
{
  justify-content: center;
  align-items: center;
  list-style-type: none;
  /* border-spacing: 50px; */
  margin-top: 3.4rem;
  font-family: Quicksand;
  color: #00000080;
  flex-direction: row;
  border-bottom: solid 1.7px #a435ff;
  /* border-top: solid 1.7px #a435ff; */
  transition: 0.2s;
  width: 100%;
  top: 416px;
  /* margin-top: 30px; */
  left: 196px;
  height: 59px;
  background: #ffffff;
  box-shadow: 0px 1px 1px 0.25px #d32dff;

  opacity: 1 !important;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  display: flex !important;
}

/* a.main-links:hover {
  color: purple;
} */

#dark-light {
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-spacing: 50px;
  font-family: Quicksand;
  color: #f70bc1;
  flex-direction: row;
  border: 1px #683fff;
  transition: 0.2s;
  margin: 1rem;
  width: 10%;
  max-width: 75px;
  min-width: 45px;
  position: absolute;
  right: 10px;
  height: 34px;
  background: transparent linear-gradient(180deg, #7503fa 0%, #f70bc1 100%) 0%
    0% no-repeat padding-box;
  background-image: url("./components/transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: 2px 2px 1px 0.7px #a535ff;
  border-radius: 32px;
  opacity: 1;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  display: flex;
}

element.style {
  display: flex;
}

.btn-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 90%;
  height: 75px;
  bottom: 0;
  position: absolute;
  border-radius: 33px;
  z-index: 9;
}

.btn-background {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 8;
  border: 3px solid #006cd8;
}

.pause-btn {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #a535ff;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 6;
}

.bar-container {
  width: 65px;
  height: 100px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
}

.pause-bars {
  display: flex;
  width: 16px;
  height: 70px;
  background: transparent linear-gradient(0deg, #7503fa 0%, #f70bc1 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 5px;
}

.play-pause {
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-spacing: 50px;
  margin: 0;
  margin: 75px;
  flex-direction: row;
  display: none;
  border: 1px #683fff;
  transition: 0.2s;
  width: 50%;
  top: 416px;
  left: 196px;
  width: 200px;
  height: 59px;
  box-shadow: 0px 3px 6px #00000080;
  border-radius: 32px;
  opacity: 1;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
}

.main-links,
.invite-link {
  /* margin: 3rem auto; */
}

.invite-link {
  background: transparent linear-gradient(180deg, #7503fa 0%, #f70bc1 100%) 0%
    0% no-repeat padding-box;
  color: white;
}

p {
  align-items: center;
  justify-content: center;
  margin-top: 21px;
  font-family: Quicksand;
}

.main-links:hover,
.invite-link:hover {
  box-shadow: 2px 2px 4px 0 #e22bff;
  transition: 0.2s;
}

.profile-pic {
  justify-content: center;
  align-items: center;
  border-spacing: 50px;
  margin: 0;
  margin-left: 50%;
  color: #707070;
  margin: 50px;
  flex-direction: column;
  display: block;
  border: 1px #683fff;
  box-shadow: 2px 2px 4px 0px #683fff;
  transition: 0.2s;
  width: 50%;
  top: 295px;
  left: 249px;
  width: 100px;
  height: 100px;
  background: transparent url("") 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000080;
  opacity: 1;
}

#viewnify {
  background: transparent linear-gradient(180deg, #7503fa 0%, #f70bc1 100%) 0%
    0% no-repeat padding-box;
  color: #ffffff;
  font-family: Quicksand;
  font-size: 40px;
  text-align: center;
  justify-content: left;
  align-items: center;
  text-align: left;
  text-indent: 85px;
}

html,
body {
  margin: 0;
}

#watch-party-left {
  outline-style: solid;
  justify-content: center;
  align-items: center;
  float: right;
  width: 500px;
  flex-direction: row;
}

#watch-party-right {
  outline-style: solid;
  justify-content: center;
  align-items: center;
  float: right;
  width: 500px;
  flex-direction: row;
}

.body-container {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  left: 0px;
  max-height: calc(100vh - 48px);
  min-height: 375px;
  opacity: 1;
  z-index: 1;
  width: 80%;
  max-width: 450px;
}

.media-main {
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
}

.content-img {
  /* width: 450px;
  height: 600px; */
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
  border-radius: 33px 33px 0 0;
  line-height: 0;
  transition: 0.3s;
  position: relative;
}

#content-description {
  width: 100%;
  height: 15%;
  z-index: 500;
}

.media-main:hover {
  box-shadow: 4px 4px 8px 4px #e22bff;
}

.card {
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  height: 750px;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  line-height: 0;
  position: relative;
}

.card .watch-container {
  position: absolute;
}

.card p {
  margin: 10px;
  /* overflow: scroll; */
  padding: 10px;
}

.media-a-info::-webkit-scrollbar {
  width: 4px;
}
.media-a-info::-webkit-scrollbar-track {
  background: transparent;
}
.media-a-info::-webkit-scrollbar-thumb {
  background: #888;
}
.media-a-info::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#play-pause {
  margin-top: 20px;
  background: #ffffffc3 0% 0% no-repeat padding-box;
  box-shadow: 4px 4px 8px 0 #e22bff;
  border-radius: 33px;
  opacity: 1;
  justify-content: center;
  align-items: center;
  display: none;
}

#play-pause:hover {
  box-shadow: 4px 4px 8px 2px #e22bff;
}

.media-main {
  opacity: 1;
  box-shadow: 4px 4px 8px 0 #e22bff;
  border-radius: 33px;
  background-color: black;
  color: #00000080;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  position: absolute;
  overflow: hidden;
  /* width: 100%; */
}

#play-btn {
  opacity: 1;
  z-index: 5;
  display: inline-block;
  margin: 2px;
  justify-content: center;
  align-items: center;
  border: none;
  display: none;
}

#play-symbol {
  top: 679px;
  left: 80px;
  width: 14px;
  height: 44px;
  margin: 2px;
  margin-top: 4px;
  display: inline-block;
  background: transparent linear-gradient(180deg, #20f794 0%, #3fefef 100%) 0%
    0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

#up-symbol {
  top: 679px;
  left: 80px;
  width: 14px;
  height: 44px;
  margin: 2px;
  margin-top: 4px;
  display: inline-block;
  background: transparent linear-gradient(180deg, #ffbf3f 0%, #ff9c00 100%) 0%
    0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

#next-symbol {
  top: 679px;
  left: 80px;
  width: 14px;
  height: 44px;
  margin: 2px;
  margin-top: 4px;
  display: inline-block;
  background: transparent linear-gradient(180deg, #00d7f4 0%, #006cd8 100%) 0%
    0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

#back-symbol {
  top: 679px;
  left: 80px;
  width: 14px;
  height: 36px;
  margin: 2px;
  margin-top: 4px;
  display: inline-block;
  background: transparent linear-gradient(180deg, #7503fa 0%, #f70bc1 100%) 0%
    0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.moving.card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.card img {
  pointer-events: none;
}

.card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 29px;
  left: 25px;
  top: 23px;
}

.bm-burger-bars {
  background: transparent linear-gradient(180deg, #7503fa 0%, #f70bc1 100%) 0%
    0% no-repeat padding-box;
}

.bm-burger-bars-hover {
  background: transparent linear-gradient(180deg, #f70bc1 0%, #7503fa 100%) 0%
    0% no-repeat padding-box;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  visibility: hidden;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  z-index: 2 !important;
}

.bm-menu {
  background: #ededed;
  /* padding: 2.5em 1.5em 0; */
  font-size: 1.15em;
  overflow: hidden;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0px;
  overflow: hidden;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: #0e0e0e;
  z-index: 2 !important;
}

.info-title {
  max-height: 100%;
  overflow: hidden;
  font-family: 'Quicksand';
}

.watch-header,
.create-party,
.discover,
.watch-content {
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-spacing: 50px;
  margin: 1rem;
  font-family: Quicksand;
  color: #00000080;
  flex-direction: row;
  border: 1px #683fff;
  transition: 0.2s;
  width: 55%;
  max-width: 175px;
  top: 416px;
  margin-top: 61px;
  left: 196px;
  height: 59px;
  background: #ffffff;
  box-shadow: 0.25px 0.2px 1px 1px #a535ff;
  border-radius: 32px;
  opacity: 1 !important;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  display: flex !important;
}

.user-watch,
.match-watch {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: transparent;
  border-radius: 50%;
  border: dotted;
  border-width: 2px;
  flex-direction: row;
  display: inline-block;
  border-color: #f70bc1;
  align-items: center;
}

.user-watch {
  position: relative;
  overflow: hidden;
}

.profile-circles {
  justify-content: space-between;
  display: inline-block;
}

.library-content h1 {
  color: white;
}

.card-prev {
  height: 100%;
  width: 50%;
  z-index: 9;
  position: absolute;
  left: 0;
}

.card-next {
  height: 100%;
  width: 50%;
  z-index: 9;
  position: absolute;
  right: 0;
}

.card-content {
  position: relative;
}

.content-description {
  line-height: 1;
  height: 100%;
  background: #ededed;
  display: flex;
  flex-direction: column;
  z-index: 8;
}

.content-description::-webkit-scrollbar {
  display: none;
}

.content-background {
  flex-grow: 0;
  width: 100%;
  display: block;
}

.bottom-border {
  background-color: black;
  height: 125px;
}

.content-gradient-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  transition: 0.3s;
  background: linear-gradient(0deg, black 0%, transparent 20%);
}

.hidden {
  opacity: 0;
  filter: brightness(0%);
  z-index: -1;
}

.content-title {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background: black;
  color: #ededed;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 10;
}

.content-title:hover {
  opacity: 0;
}

.media-a-info {
  font-size: 22px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0px 15px 0px 15px; */
  height: 62.5%;
  /* overflow-y: scroll; */
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

.release-rating {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  font-family: 'Quicksand';
}

.card-info {
  font-family: 'Quicksand';
  margin: 0px 15px 0px 15px;
}

.release-date {
  margin: 25px 0px 20px 0px;
}

.rating {
  margin: 25px 0px 20px 0px;
}

.discover-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 1s;
  transition-timing-function: linear;
}

.cur-content-img {
  width: 450px;
  height: 675px;
}

.play-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-img {
  position: absolute;
  height: 70px;
  z-index: 9;
  transform: translateX(8%);
}
/* iPhone 5/5S/5C/5SE */
/* iPhone 5/SE  */

.library-grid {
}

.library-list {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
}

.library-list li {
  margin: 25px;
}

.mini-card {
  /* width: 300px;
  height: 450px; */
  border-radius: 18px;
  overflow: hidden;
  /* border: solid 1px white; */
  /* border: solid 2px #ededed; */
  /* box-shadow: 3px 3px 3px white; */
}

.mini-card:hover {
  cursor: grab;
  opacity: .2;
  transition: .3s;
  color: white;
}

.mini-cur-content-img {
  /* width: 300px;
  height: 450px; */
  display: block;
}

.mini-card-title-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mini-card-title {
  font-size: 20px;
  margin-top: 5.5px;
  color: #872ed0;
  width: 100%;
}

@media only screen and (device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .cur-content-img,
  .body-container {
    max-width: 225px;
    max-height: 300px;
  }
  .mini-card,
  .mini-cur-content-img, .mini-card-title-flex {
    max-width: 110px;
    max-height: 165px;
  }
  .mini-card-title {
    font-size: 13px;
  }
  .media-a-info {
    font-size: 13px;
  }
  .release-rating {
    font-size: 12px;
  }
  .content-title {
    font-size: 20px;
    /* height: 21.3%; */
  }
  .btn-container {
    height: 75px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 28px;
    left: 17px;
    top: 23.5px;
  }
  #dark-light {
    right: 0px;
    height: 32px;
  }
  #discover-btn,
  #watch-party,
  #library,
  #chatroom,
  #invite,
  #preferences, #logout {
    margin-top: 1.2rem;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .cur-content-img,
  .body-container {
    max-width: 300px;
    max-height: 450px;
  }
  .mini-card,
  .mini-cur-content-img, .mini-card-title {
    max-width: 130px;
    max-height: 190px;
    font-size: 14px;
  }
  .media-a-info {
    font-size: 13px;
  }
  .release-rating {
    font-size: 11px;
  }
  .content-title {
    font-size: 22px;
    /* height: 25%; */
  }
  .btn-container {
    height: 0px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 28px;
    left: 30px;
    top: 23.5px;
  }
  #dark-light {
    right: 8px;
    height: 32px;
  }
  #discover-btn,
  #watch-party,
  #library,
  #chatroom,
  #invite,
  #preferences, #logout {
    margin-top: 2.1rem;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  /* .cur-content-img {
      max-width: 400px;
      min-height: 500px;
    } */
  .cur-content-img,
  .body-container {
    max-width: 300px;
    max-height: 450px;
  }
  .mini-card,
  .mini-cur-content-img, .mini-card-title-flex {
    max-width: 150px;
    max-height: 225px;
  }
  .mini-card-title {
    font-size: 15px;
  }
  .media-a-info {
    font-size: 16px;
  }
  .release-rating {
    font-size: 14px;
  }
  .content-title {
    font-size: 30px;
    /* height: 27%; */
  }
  .btn-container {
    height: 0px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 28px;
    left: 30px;
    top: 23.5px;
  }
  #dark-light {
    right: 10px;
    height: 32px;
  }
  #discover-btn,
  #watch-party,
  #library,
  #chatroom,
  #invite,
  #preferences, #logout {
    margin-top: 2.7rem;
  }
}

/* Portr

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .cur-content-img {
    max-width: 300px;
    max-height: 450px;
  }
  .mini-card,
  .mini-cur-content-img {
    max-width: 130px;
    max-height: 190px;
  }
  .media-a-info {
    font-size: 13px;
  }
  .release-rating {
    font-size: 11px;
  }
  .content-title {
    font-size: 22px;
    /* height: 25%; */
  }
  .btn-container {
    height: 0px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 28px;
    left: 30px;
    top: 23.5px;
  }
  #dark-light {
    right: 10px;
    height: 32px;
  }
  #discover-btn,
  #watch-party,
  #library,
  #chatroom,
  #invite,
  #preferences, #logout {
    margin-top: 3.4rem;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .cur-content-img,
  .body-container {
    max-width: 450px;
    max-height: 675px;
  }
  .mini-card,
  .mini-cur-content-img {
    max-width: 150px;
    max-height: 225px;
  }
  .mini-card-title {
    font-size: 21px;
  }
  .mini-card-title-flex {
    max-width: 200px;
  }
  .media-a-info {
    font-size: 25px;
  }
  .release-rating {
    font-size: 20px;
  }
  .content-title {
    font-size: 40px;
    /* height: 37.5%; */
  }
  .btn-container {
    height: 0px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 28px;
    left: 30px;
    top: 22.5px;
  }
  #dark-light {
    right: 10px;
    height: 32px;
  }
  #discover-btn,
  #watch-party,
  #library,
  #chatroom,
  #invite,
  #preferences, #logout {
    margin-top: 5.2rem;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */

/* Galaxy Fold */

/* Moto G4 */
@media only screen and (device-width: 360px) and (device-height: 640px) {
  .cur-content-img,
  .body-container {
    max-width: 225px;
    max-height: 337.5px;
  }
  .mini-card-title-flex {
    max-width: 125px;
  }
  .mini-card-title {
    font-size: 13px;
  }

  .mini-cur-content-img {
    width: 125px;
    height: 187.5px;
  }
  .mini-card,
  .mini-cur-content-img {
    max-width: 125px;
    max-height: 187.5px;
  }
  .media-a-info {
    font-size: 15px;
  }
  .release-rating {
    font-size: 12px;
  }
  .content-title {
    font-size: 20px;
    /* height: 24%; */
  }
  .btn-container {
    height: 35px;
    max-width: 225px;
    max-height: 225px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 28px;
    left: 27px;
    top: 17.5px;
  }
  #dark-light {
    right: 10px;
    height: 32px;
  }
  #discover-btn,
  #watch-party,
  #library,
  #chatroom,
  #invite,
  #preferences, #logout {
    margin-top: 1.8rem;
  }
}

/* Galaxy S5 and Pixel 2 */
@media only screen and (device-width: 411px) and (device-height: 731px) {
  .cur-content-img,
  .body-container {
    max-width: 275px;
    max-height: 412.5px;
  }
  .mini-card,
  .mini-cur-content-img, .mini-card-title-flex {
    max-width: 150px;
    max-height: 225px;
  }
  .mini-card-title {
    font-size: 13px;
  }
  .media-a-info {
    font-size: 15px;
  }
  .release-rating {
    font-size: 12px;
  }
  .content-title {
    font-size: 22px;
    /* height: 27.4%; */
  }
  .btn-container {
    height: 0px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 28px;
    left: 27px;
    top: 17.5px;
  }
  #dark-light {
    right: 10px;
    height: 32px;
  }
  #discover-btn,
  #watch-party,
  #library,
  #chatroom,
  #invite,
  #preferences, #logout {
    margin-top: 2.6rem;
  }
}

/* Pixel 2 XL */
@media only screen and (device-width: 411px) and (device-height: 823px) {
  .cur-content-img,
  .body-container {
    max-width: 300px;
    max-height: 450px;
  }
  .mini-card,
  .mini-cur-content-img, .mini-card-title-flex {
    max-width: 150px;
    max-height: 225px;
  }
  .mini-card-title {
    font-size: 15px;
  }
  .media-a-info {
    font-size: 15px;
  }
  .release-rating {
    font-size: 12px;
  }
  .content-title {
    font-size: 22px;
    /* height: 27.4%; */
  }
  .btn-container {
    height: 0px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 28px;
    left: 27px;
    top: 23.5px;
  }
  #dark-light {
    right: 10px;
    height: 32px;
  }
  #discover-btn,
  #watch-party,
  #library,
  #chatroom,
  #invite,
  #preferences, #logout {
    margin-top: 3.5rem;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) {
  .cur-content-img {
    max-width: 300px;
    max-height: 450px;
  }
  .media-a-info {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) {
  .cur-content-img {
    max-width: 500px;
    max-height: 675px;
  }
  .mini-card,
  .mini-cur-content-img {
    max-width: 200px;
    max-height: 300px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) {
  .cur-content-img,
  .body-container {
    max-width: 450px;
    max-height: 675px;
  }
  .content-img {
    width: 400px;
    max-height: 100%; 
  }

  .mini-card,
  .mini-cur-content-img {
    max-width: 200px;
    max-height: 300px;
  }
  #discover-btn,
  #watch-party,
  #library,
  #chatroom,
  #invite,
  #preferences, #logout {
    margin-top: 8.1rem;
  }
}

@media only screen and (min-device-width: 540px) and (max-device-height: 720px) {
  .cur-content-img,
  .body-container {
    max-width: 300px;
    max-height: 450px;
  }
  .mini-card,
  .mini-cur-content-img, .mini-card-title-flex {
    max-width: 125px;
    max-height: 187.5px;
  }
  .mini-card-title {
    font-size: 13px;
  }
  .media-a-info {
    font-size: 20px;
  }
  .release-rating {
    font-size: 15px;
  }
  .content-title {
    font-size: 35px;
    /* height: 35.5%; */
  }
  .btn-container {
    height: 0px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 28px;
    left: 30px;
    top: 22.5px;
  }
  #dark-light {
    right: 10px;
    height: 32px;
  }
  #discover-btn,
  #watch-party,
  #library,
  #chatroom,
  #invite,
  #preferences, #logout {
    margin-top: 2.5rem;
  }
}

@media only screen and (device-width: 280px) and (max-device-height: 653px) {
  .cur-content-img,
  .body-container {
    max-width: 225px;
    max-height: 337.5px;
  }
  .mini-card,
  .mini-cur-content-img, .mini-card-title-flex {
    max-width: 200px;
    max-height: 300px;
  }
  .media-a-info {
    font-size: 15px;
  }
  .release-rating {
    font-size: 12px;
  }
  .content-title {
    font-size: 20px;
    /* height: 18.5%; */
  }
  .btn-container {
    height: 40px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 24px;
    left: 12.5px;
    top: 24px;
  }
  #dark-light {
    right: -9px;
    height: 28px;
  }
  #discover-btn,
    #watch-party,
    #library,
    #chatroom,
    #invite,
    #preferences, #logout {
      margin-top: 1.9rem;
    } 
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 600px) {
  .cur-content-img {
    max-width: 300px;
    max-height: 325px;
  }
  .mini-card,
  .mini-cur-content-img, .mini-card-title-flex {
    max-width: 200px;
    max-height: 300px;
  }
  .mini-card-title {
    font-size: 20px;
  }
  .media-a-info {
    font-size: 15px;
  }
  .release-rating {
    font-size: 12px;
  }
  .content-title {
    font-size: 40px;
    /* height: 37.5%; */
  }
  .btn-container {
    height: 125px;
  }
  #discover-btn,
    #watch-party,
    #library,
    #chatroom,
    #invite,
    #preferences, #logout {
      margin-top: 1.5rem;
    } 
}

@media only screen and (device-width: 1280px) and (device-height: 800px) {
  .cur-content-img,
  .body-container {
    max-width: 400px;
    max-height: 500px;
  }
  .media-a-info {
    font-size: 20px;
  }
  .release-rating {
    font-size: 20px;
  }
  .content-title {
    font-size: 40px;
    /* height: 37.5%; */
  }
  .btn-container {
    height: 187px;
  }
  #discover-btn,
    #watch-party,
    #library,
    #chatroom,
    #invite,
    #preferences, #logout {
      margin-top: 3.4rem;
    } 
}

@media only screen and (min-device-width: 1280px) {
  .cur-content-img,
  .body-container {
    max-width: 400px;
    max-height: 600px;
  }
  .mini-card-title-flex {
    max-width: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .body-container {
    max-width: 400px;
    max-height: 600px;
  }
  .media-a-info {
    font-size: 20px;
  }
  .release-rating {
    font-size: 20px;
  }
  .content-title {
    font-size: 40px;
    /* height: 33.5%; */
  }
  .btn-container {
    height: 0px;
  }
  #discover-btn,
    #watch-party,
    #library,
    #chatroom,
    #invite,
    #preferences, #logout {
      margin-top: 3.9rem;
    } 
}

.MuiPaper-root,
.MuiToolbar-root,
.MuiTypography-body2 {
  font-family: Quicksand !important;
}

.MuiInputBase-root,
.MuiTable-root,
.MTablePaginationInner-root-14,
.MuiTypography-h6,
.MuiTableRow-root,
.MuiButtonBase-root {
  font-family: Quicksand !important;
}

.MTableHeader-header-13 {
  z-index: 0 !important;
}
