/* TODO: media queries */
/* @media screen and (max-height:1000px) {
    .media-main{
        height:70vh;
        width:40vw;
    }

    .content-img{
        height: auto;
        width:auto;
    }
} */

/* for phones
    .library-list li{
        width:100%
    }
*/